@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 100% 3.92%;
    --foreground: 117 45.45% 91.37%;

    --primary: 116.89 61.64% 42.94%;
    --primary-foreground: 217.89 100% 3.73%;

    --card: 207 100% 3.92%;
    --card-foreground: 117 45.45% 91.37%;

    --popover: 207 100% 3.92%;
    --popover-foreground: 117 45.45% 91.37%;

    --secondary: 117.45 61.04% 15.1%;
    --secondary-foreground: 0 0% 100%;

    --muted: 206.67 26.47% 13.33%;
    --muted-foreground: 210 4.1% 52.16%;

    --accent: 117.45 61.04% 15.1%;
    --accent-foreground: 117 45.45% 91.37%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 14.9%;
    --input: 206.67 26.47% 13.33%;
    --ring: 152 86.96% 27.06%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  @apply w-screen h-screen relative;
}

.filter-bg {
  background: url("https://images.unsplash.com/photo-1719427209368-8ee06271a8b1?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}
